In [3]:
import kagglehub
import pandas as pd

# Download latest version
path = kagglehub.dataset_download("martj42/international-football-results-from-1872-to-2017")

print("Path to dataset files:", path)

Path to dataset files: /Users/davidhultgren/.cache/kagglehub/datasets/martj42/international-football-results-from-1872-to-2017/versions/102

In [ ]:
df_goalscorers = pd.read_csv("filer/goalscorers.csv")
df_results = pd.read_csv("filer/results.csv")
df_shootouts = pd.read_csv("filer/shootouts.csv")
df_former_names = pd.read_csv("filer/former_names.csv")

In [64]:
df_forsta_1000 = df_results.head(1000).copy()
df_forsta_1000["total_score"] = df_forsta_1000["away_score"] + df_forsta_1000["home_score"]

In [65]:
df_forsta_1000

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,total_score
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False,0
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False,6
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False,3
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False,4
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False,3
...,...,...,...,...,...,...,...,...,...,...
995,1925-04-02,Guernsey,Alderney,3,0,Muratti Vase,Jersey,Jersey,True,3
996,1925-04-04,Scotland,England,2,0,British Home Championship,Glasgow,Scotland,False,2
997,1925-04-10,Turkey,Bulgaria,2,1,Friendly,Istanbul,Turkey,False,3
998,1925-04-18,Wales,Northern Ireland,0,0,British Home Championship,Wrexham,Wales,False,0
999,1925-04-19,France,Austria,0,4,Friendly,Vincennes,France,False,4

In [ ]:
# Total goals of the first 1000 matches played. 
total_goals_first_1000 = df_results.head(1000)[["away_score", "home_score"]].sum().sum()
print(total_goals_first_1000)

4030

In [ ]:
# AVG goals of the first 1000 matches played. 
average_goals_first_1000 = total_goals_first_1000 / 1000
print(average_goals_first_1000)

4.03

In [ ]:
# Latest 1000 matches 
df_results.tail(1000)

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
47891,2024-11-17,Papua New Guinea,Solomon Islands,1,2,FIFA World Cup qualification,Port Moresby,Papua New Guinea,False
47892,2024-11-18,Croatia,Portugal,1,1,UEFA Nations League,Split,Croatia,False
47893,2024-11-18,Poland,Scotland,1,2,UEFA Nations League,Warsaw,Poland,False
47894,2024-11-18,Serbia,Denmark,0,0,UEFA Nations League,Leskovac,Serbia,False
47895,2024-11-18,Spain,Switzerland,3,2,UEFA Nations League,Santa Cruz de Tenerife,Spain,False
...,...,...,...,...,...,...,...,...,...
48886,2025-12-12,Jordan,Iraq,1,0,Arab Cup,Al Rayyan,Qatar,True
48887,2025-12-12,Algeria,United Arab Emirates,1,1,Arab Cup,Al Khor,Qatar,True
48888,2025-12-15,Morocco,United Arab Emirates,3,0,Arab Cup,Al Rayyan,Qatar,True
48889,2025-12-15,Saudi Arabia,Jordan,0,1,Arab Cup,Al Khor,Qatar,True
48890,2025-12-18,Jordan,Morocco,2,3,Arab Cup,Lusail,Qatar,True

In [ ]:
# Total goals latest 1000 matches
total_goals_latest_1000 = df_results.tail(1000)[["away_score", "home_score"]].sum().sum()
print(total_goals_latest_1000)

2894

In [ ]:
# Average goals latest 1000 macthes
average_goals_latest_1000 = total_goals_latest_1000 / 1000
print(average_goals_latest_1000)

2.894

In [37]:
df_goalscorers

,date,home_team,away_team,team,scorer,minute,own_goal,penalty
0,1916-07-02,Chile,Uruguay,Uruguay,José Piendibene,44.0,False,False
1,1916-07-02,Chile,Uruguay,Uruguay,Isabelino Gradín,55.0,False,False
2,1916-07-02,Chile,Uruguay,Uruguay,Isabelino Gradín,70.0,False,False
3,1916-07-02,Chile,Uruguay,Uruguay,José Piendibene,75.0,False,False
4,1916-07-06,Argentina,Chile,Argentina,Alberto Ohaco,2.0,False,False
...,...,...,...,...,...,...,...,...
44442,2025-07-02,United States,Guatemala,United States,Diego Luna,15.0,False,False
44443,2025-07-02,United States,Guatemala,Guatemala,Olger Escobar,80.0,False,False
44444,2025-07-06,United States,Mexico,United States,Chris Richards,4.0,False,False
44445,2025-07-06,United States,Mexico,Mexico,Raúl Jiménez,27.0,False,False
44446,2025-07-06,United States,Mexico,Mexico,Edson Álvarez,77.0,False,False

In [ ]:
# Average minute someone scores
min_avg_goal = df_goalscorers["minute"].mean()
print(min_avg_goal)

50.00672082550746

In [ ]:
# Who has scored the most goals
df_goalscorers["scorer"].value_counts().head(10)

scorer
Cristiano Ronaldo      108
Robert Lewandowski      63
Romelu Lukaku           60
Harry Kane              58
Lionel Messi            55
Edin Džeko              50
Ali Daei                49
Miroslav Klose          48
Carlos Ruiz             47
Aleksandar Mitrović     47
Name: count, dtype: int64

In [ ]:
# Who has scorde most golas excluding penalties
scorer_no_pen = df_goalscorers[df_goalscorers["penalty"] == False]
scorer_no_pen["scorer"].value_counts().head(10)

scorer
Cristiano Ronaldo      89
Romelu Lukaku          54
Robert Lewandowski     50
Edin Džeko             48
Miroslav Klose         48
Aleksandar Mitrović    45
Carlos Ruiz            43
Lionel Messi           41
Ali Daei               41
Zlatan Ibrahimović     39
Name: count, dtype: int64

In [ ]:
# How many games played and how many of them are wins
home = df_results[["home_team", "home_score", "away_score"]].copy()
home.columns = ["team", "goals_for", "goals_against"]

In [48]:
away = df_results [["home_team", "home_score", "away_score"]].copy()
away.columns = [["team", "goals_for", "goals_against"]]

In [49]:
matches = pd.concat([home, away], ignore_index=True)

In [50]:
matches["win"]= matches["goals_for"] > matches["goals_against"]

In [ ]:
summary = (matches.groupby("team").agg(matches_played =("team", "count"), wins=("win", "sum")).reset_index())
# Ends here

             team  matches_played  wins  win_percentage
0        Abkhazia              22    11           50.00
1     Afghanistan              48    18           37.50
2         Albania             208    78           37.50
3        Alderney              48     1            2.08
4         Algeria             346   200           57.80
5  American Samoa              24     3           12.50
6       Andalusia              12     7           58.33
7         Andorra             113    11            9.73
8          Angola             200    97           48.50
9        Anguilla              29     2            6.90

In [ ]:
# Adding win percentage to the table
summary["win_percentage"] = (summary["wins"] / summary["matches_played"] * 100)

In [56]:
summary["win_percentage"] = summary["win_percentage"].round(2)

In [57]:
summary.sort_values("win_percentage", ascending=False).head(10)

                   team  matches_played  wins  win_percentage
56             Chameria               2     2           100.0
124               Hmong               1     1           100.0
84          Elba Island               1     1           100.0
53        Central Spain               1     1           100.0
98            Franconia               1     1           100.0
312   Western Australia               1     1           100.0
216  Parishes of Jersey               2     2           100.0
160          Luhansk PR               2     2           100.0
49             Cascadia               2     2           100.0
318           Yorkshire               5     4            80.0

In [ ]:
# Cleaning the data and only allowing teams that have played more than 50 games
summary_clean = summary[summary["matches_played"] > 50]

In [59]:
summary_clean = (summary.query("matches_played > 50").sort_values("win_percentage", ascending=False))

In [60]:
summary_clean.head(20)

                 team  matches_played  wins  win_percentage
37             Brazil             610   435           71.31
141            Jersey             129    90           69.77
268             Spain             406   280           68.97
12          Argentina             599   402           67.11
71     Czech Republic             174   115           66.09
117          Guernsey             132    87           65.91
82              Egypt             437   287           65.68
138       Ivory Coast             316   205           64.87
186           Morocco             333   213           63.96
131              Iran             346   221           63.87
192     New Caledonia             146    92           63.01
137             Italy             491   309           62.93
196           Nigeria             312   196           62.82
107             Ghana             313   196           62.62
86            England             546   340           62.27
278            Tahiti             116    72           62.07
106           Germany             552   342           61.96
307  Vietnam Republic              60    37           61.67
230            Russia             327   201           61.47
72     Czechoslovakia             241   148           61.41

In [63]:
summary_clean.tail(20)

               team  matches_played  wins  win_percentage
89          Estonia             266    81           30.45
51   Cayman Islands              69    21           30.43
40           Brunei              53    16           30.19
15            Aruba              72    21           29.17
93    Faroe Islands             140    40           28.57
54             Chad              67    19           28.36
61          Comoros              64    17           26.56
70           Cyprus             232    61           26.29
253      Seychelles              81    21           25.93
19       Azerbaijan             148    38           25.68
90         Eswatini             131    32           24.43
162           Macau              68    16           23.53
181         Moldova             130    30           23.08
155         Lesotho             143    30           20.98
169           Malta             254    47           18.50
161      Luxembourg             254    32           12.60
76         Djibouti              51     6           11.76
7           Andorra             113    11            9.73
158   Liechtenstein             120    11            9.17
244      San Marino             111     2            1.80

In [74]:
df_shootouts

,date,home_team,away_team,winner,first_shooter
0,1967-08-22,India,Taiwan,Taiwan,NaN
1,1971-11-14,South Korea,Vietnam Republic,South Korea,NaN
2,1972-05-07,South Korea,Iraq,Iraq,NaN
3,1972-05-17,Thailand,South Korea,South Korea,NaN
4,1972-05-19,Thailand,Cambodia,Thailand,NaN
...,...,...,...,...,...
657,2025-11-23,Papua New Guinea,Vanuatu,Vanuatu,NaN
658,2025-11-25,Palestine,Libya,Palestine,NaN
659,2025-11-26,Oman,Somalia,Oman,NaN
660,2025-11-26,Comoros,Yemen,Comoros,NaN
661,2025-12-12,Algeria,United Arab Emirates,United Arab Emirates,NaN

In [78]:
wins = df_shootouts["winner"].value_counts()
wins.head(10)

winner
Egypt           15
South Korea     15
Argentina       15
Zambia          14
Thailand        13
South Africa    13
Iraq            11
Senegal         11
Kenya           10
Indonesia       10
Name: count, dtype: int64

In [79]:
matches_played = (
    pd.concat([
        df_shootouts["home_team"],
        df_shootouts["away_team"]
    ])
    .value_counts()
)

In [80]:
wins = df_shootouts["winner"].value_counts()

In [81]:
summary_pen = pd.DataFrame({
    "matches_played": matches_played,
    "wins": wins
}).fillna(0)

summary_pen["wins"] = summary_pen["wins"].astype(int)
summary_pen["win_percentage"] = (
    summary_pen["wins"] / summary_pen["matches_played"] * 100
).round(2)

summary_pen = summary_pen.sort_values("win_percentage", ascending=False)

summary_pen.head(10)

                 matches_played  wins  win_percentage
Åland                       0.0     1             inf
Tahiti                      2.0     2           100.0
Western Armenia             2.0     2           100.0
Kabylia                     1.0     1           100.0
Cyprus                      2.0     2           100.0
Bulgaria                    1.0     1           100.0
Iceland                     2.0     2           100.0
Hungary                     1.0     1           100.0
Sápmi                       1.0     1           100.0
Greenland                   2.0     2           100.0

In [84]:
summary_pen_clean = summary_pen.query("matches_played >= 10")

In [86]:
summary_pen_clean.head(10)

            matches_played  wins  win_percentage
Indonesia             11.0    10           90.91
Guinea                10.0     8           80.00
Iraq                  15.0    11           73.33
Angola                10.0     7           70.00
Kenya                 15.0    10           66.67
Argentina             23.0    15           65.22
Croatia               11.0     7           63.64
Mozambique            13.0     8           61.54
Botswana              13.0     8           61.54
Egypt                 25.0    15           60.00